@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswalregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page__body {
  margin: 0;
}

.visibility-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
}

.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 44px;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.button--primary {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 5px;
  width: 100%;
}
@media (min-width: 768px) {
  .button--primary {
    font-size: 20px;
    font-weight: 400;
  }
}

.button--secondary {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  padding: 10px 0;
}

.main-header__wrapper {
  width: 320px;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  padding: 10px 20px 0 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 768px;
    padding: 30px 30px 0 30px;
    display: flex;
    text-align: center;
    align-items: center;
    min-height: 50px;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    padding: 55px 110px 0 110px;
    min-height: 59px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  width: 280px;
  padding-left: 20px;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .main-header__logo-wrapper {
    width: 174px;
    margin: 0;
    align-items: center;
    padding: 0;
    margin-right: 94px;
  }
}
@media (min-width: 1440px) {
  .main-header__logo-wrapper {
    width: 202px;
    margin-right: 541px;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 320px;
  margin: 0 auto;
  padding: 0 0 2px 0;
  text-align: center;
  z-index: 20;
  background-color: #ffffff;
  position: absolute;
}
@media (min-width: 768px) {
  .main-nav__list {
    width: 436px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 33px;
    flex-wrap: wrap;
    position: relative;
    padding: 2px 0 2px 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    background-color: transparent;
    width: 478px;
  }
}

.main-nav__toggle {
  cursor: pointer;
  border: none;
  display: block;
  width: 24px;
  height: 16px;
  padding: 4px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  position: absolute;
  top: 22px;
  right: 21px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

@media (max-width: 767px) {
  .main-nav--opened .main-nav__list {
    display: block;
  }
}

@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  transform: rotate(-45deg);
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (max-width: 767px) {
  .main-nav--nojs .main-nav__list {
    display: block;
    position: static;
    min-height: 0;
  }
}

.hero {
  background-image: url("../../img/hero/hero-background-mobile.png"), linear-gradient(to bottom, #63a63b 63%, #ffffff 63%);
  background-position: top;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero/hero-background-mobile@2x.png");
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: none;
  }
}
@media (min-width: 1440px) {
  .hero {
    background-image: url("../img/hero/hero-background-desktop.jpg"), linear-gradient(to left, #63a63b 50%, #ffffff 50%);
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -125px;
    z-index: -1;
    position: relative;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../img/hero/hero-background-desktop@2x.jpg"), linear-gradient(to left, #63a63b 50%, #ffffff 50%);
    background-size: contain;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 27px 20px 0 20px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
@media (min-width: 768px) {
  .hero__container {
    background: #ffffff;
    width: 768px;
    padding: 62px 30px 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .hero__container {
    width: 1440px;
    min-height: 694px;
    background: transparent;
    padding: 230px 110px 0 110px;
    margin-bottom: 88px;
  }
}

.hero__title {
  margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 25px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  .hero__title {
    color: #000000;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    max-width: 450px;
    padding-left: 90px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .hero__title {
    padding: 0;
    margin-left: 80px;
  }
}

.hero__description {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .hero__description {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding-left: 90px;
    margin-bottom: 21px;
  }
}
@media (min-width: 1440px) {
  .hero__description {
    padding: 0;
    margin-left: 80px;
  }
}

.hero__image {
  margin: 0 auto;
  display: block;
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .hero__image {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .hero__image {
    position: absolute;
    top: 149px;
    left: 559px;
  }
}

.hero__link {
  min-height: 41px;
  width: 280px;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .hero__link {
    position: absolute;
    top: 290px;
    left: 120px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    padding: 14px 26px;
    width: 244px;
    min-height: 54px;
  }
}
@media (min-width: 1440px) {
  .hero__link {
    top: 463px;
    left: 190px;
  }
}

.logo__text {
  position: absolute;
  top: 39%;
  left: 57%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .logo__text {
    top: 50%;
    left: 70%;
  }
}
@media (min-width: 1440px) {
  .logo__text {
    width: 118px;
    height: 21px;
    top: 47%;
  }
}

.site-list__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0 20px;
  text-align: center;
  display: block;
  position: relative;
}
@media (min-width: 768px) {
  .site-list__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__link {
    line-height: 30px;
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .site-list__link--light {
    color: #ffffff;
  }
}

@media (min-width: 1440px) {
  .site-list__link--active.site-list__link--light::after {
    position: absolute;
    bottom: -7px;
    right: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
  }
}

.site-list__item {
  margin: 0;
  padding: 22px 10px 23px;
  box-sizing: border-box;
  border-top: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list__item {
    border: none;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .site-list__item {
    border: none;
  }
}

@media (min-width: 768px) {
  .site-list__link--active::after {
    position: absolute;
    bottom: -7px;
    right: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #68b738;
  }
}

.programs__wrapper {
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .programs__wrapper {
    width: 768px;
    margin-bottom: 46px;
  }
}
@media (min-width: 1440px) {
  .programs__wrapper {
    width: 1440px;
    margin-bottom: 73px;
    padding: 0 110px;
    box-sizing: border-box;
  }
}

.programs__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .programs__list {
    gap: 34px;
    background-color: #ffffff;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .programs__list {
    gap: 80px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .program-list__card {
    width: 708px;
  }
}
@media (min-width: 1440px) {
  .program-list__card {
    width: 570px;
  }
}

.program-card {
  background-color: #f2f2f2;
  position: relative;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .program-card {
    padding: 0 63px 53px 52px;
  }
}
@media (min-width: 1440px) {
  .program-card {
    padding: 0 61px 55px 52px;
  }
}

.program-card::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #68b738;
  top: 24px;
  left: 20px;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .program-card::before {
    width: 200px;
    height: 200px;
    top: 92px;
    right: 63px;
    left: auto;
  }
}
@media (min-width: 1440px) {
  .program-card::before {
    width: 100px;
    height: 100px;
    top: 47px;
    right: auto;
    left: 52px;
  }
}

.program-card__title {
  margin: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 29px;
  margin-left: 71px;
}
@media (min-width: 768px) {
  .program-card__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding-top: 77px;
    margin-left: 0;
    margin-bottom: 24px;
  }
}
@media (min-width: 1440px) {
  .program-card__title {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.program-card__descr {
  color: #444444;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 23px;
  font-weight: 400;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-card__descr {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 340px;
    border: none;
    padding: 0;
    margin-bottom: 52px;
  }
}
@media (min-width: 1440px) {
  .program-card__descr {
    max-width: max-content;
    margin-bottom: 27px;
  }
}

.program-card__link {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 19px;
  display: block;
}
@media (min-width: 768px) {
  .program-card__link {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    line-height: 30px;
  }
}

.advantages__wrapper {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 49px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 768px;
    padding: 0 30px 47px 30px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    width: 1440px;
    padding: 0 110px;
    border: none;
    margin-bottom: 69px;
  }
}

.advantages__title {
  margin: 0;
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
  counter-reset: number;
}
@media (min-width: 768px) {
  .advantages__list {
    gap: 40px 134px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    gap: 78px;
  }
}

.advantages__item {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 80px;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;
}
@media (min-width: 768px) {
  .advantages__item {
    max-width: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    counter-increment: number;
    padding: 151px 0 55px 0;
    z-index: 2;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    width: 246px;
    margin: 0;
    padding-top: 153px;
  }
}

.advantages__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .advantages__item::before {
    width: 80px;
    height: 80px;
    top: 41px;
    left: 0;
  }
}

@media (min-width: 768px) {
  .advantages__item::after {
    position: absolute;
    left: 118px;
    top: 0;
    color: #f2f2f2;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    content: counter(number);
  }
}

.example {
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .example {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .example {
    background: linear-gradient(to bottom, #ffffff 136px, #f2f2f2 136px);
  }
}

.example__container {
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 35px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .example__container {
    width: 768px;
    padding: 45px 30px 101px 30px;
  }
}
@media (min-width: 1440px) {
  .example__container {
    width: 1440px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 432px 1fr;
    gap: 234px;
  }
}

.example__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__desription {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__desription {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .example__desription {
    margin-bottom: 69px;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .example__list {
    justify-content: flex-start;
    gap: 43px;
    margin-bottom: 55px;
  }
}

.example__item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0 0 0 1px #cdcdcd;
  border-radius: 3px;
  width: 124px;
  position: relative;
}
@media (min-width: 768px) {
  .example__item {
    padding: 0;
    width: 162px;
  }
}

.example__number {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 16px 5px 0 5px;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
  }
}

.example__descr {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 12px;
  margin: 0;
  max-width: 77px;
  padding: 5px;
  background-color: #ffffff;
  transform: translateY(9px);
}
@media (min-width: 768px) {
  .example__descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    max-width: 125px;
    background-color: #f2f2f2;
  }
}

.example__legend {
  color: #000000;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__legend {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    width: 174px;
    flex-wrap: wrap;
    text-align: end;
    justify-content: flex-end;
    gap: 9px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example__legend {
    width: 327px;
    justify-content: flex-start;
    gap: 25px;
  }
}

.example__image {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 99px;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  .example__wrapper {
    margin-bottom: 75px;
  }
}

@media (min-width: 1440px) {
  .example__desktop {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.map__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  box-sizing: border-box;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .map__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    gap: 308px;
  }
}
@media (min-width: 1440px) {
  .map__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 195px);
    padding: 60px 78px 60px 80px;
    gap: 55px;
    width: 565px;
    position: absolute;
    left: 110px;
    top: 95px;
  }
}

.map__container {
  margin: 0 auto;
  width: 320px;
  position: relative;
}
@media (min-width: 768px) {
  .map__container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .map__container {
    width: 1440px;
  }
}

.map__title {
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .map__title {
    color: #111111;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
}

.map__descr {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .map__descr {
    color: #222222;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    min-height: 80px;
  }
}

.map__link {
  background-color: #f2f2f2;
  display: block;
  background-image: url("../img/map/location.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .map__link {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .map__link {
    width: 1440px;
  }
}

.map__wrapper--invert {
  background-color: #f2f2f2;
}

.main-footer__container {
  width: 320px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-footer__container {
    width: 768px;
    padding: 55px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer__container {
    width: 1440px;
    padding: 66px 110px;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__logo {
    border: none;
    padding: 0;
  }
}

.main-footer__developer {
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-footer__developer {
    padding: 0;
  }
}

.social__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  margin: 0;
  box-sizing: border-box;
  justify-content: center;
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .social__list {
    border: none;
    padding: 0;
  }
}

.social__link {
  display: block;
  height: 22px;
}

.developer__link {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .developer__link {
    padding: 0;
    display: flex;
    gap: 23px;
  }
}

.developer__text {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.products__container {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .products__container {
    width: 768px;
    padding: 67px 30px 70px 30px;
    box-sizing: border-box;
  }
}
@media (min-width: 1440px) {
  .products__container {
    width: 1440px;
    padding: 71px 110px 76px 110px;
  }
}

.products__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding: 28px 0 41px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .products__title {
    border: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding: 0;
    margin-bottom: 113px;
  }
}
@media (min-width: 1440px) {
  .products__title {
    margin-bottom: 134px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  .products__list {
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .products__list {
    gap: 117px 80px;
  }
}

.products__item {
  width: 320px;
  border-bottom: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .products__item {
    width: 324px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .products__item {
    width: 245px;
  }
}

.product-card {
  padding: 20px 20px 24px 20px;
  box-sizing: border-box;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .product-card {
    padding: 0;
    padding-bottom: 40px;
    background: linear-gradient(to top, #f2f2f2 94%, #ffffff 94%);
  }
}

.product-card--show-more {
  padding: 25px 20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .product-card--show-more {
    border: 2px solid #f2f2f2;
  }
}

.product-card__wrapper {
  display: flex;
  margin: 0;
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .product-card__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
  }
}

.product-card__wrapper--show-more {
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.product-card__image {
  display: block;
  margin: 0;
}

@media (min-width: 768px) {
  .product-card__image-wrapper {
    margin-top: -43px;
    margin-bottom: 13px;
  }
}

.product-card__image--show-more {
  background-image: url("../img/catalog/plus.svg");
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-bottom: 23px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-width: 768px) {
  .product-card__image--show-more {
    width: 60px;
    height: 60px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .product-card__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .product-card__link--show-more {
    margin: 0;
    margin-bottom: 23px;
  }
}

.product-card__title {
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .product-card__title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.product-card__link-title {
  display: flex;
  flex-wrap: wrap;
  width: 76px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .product-card__link-title {
    width: 135px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1440px) {
  .product-card__link-title {
    margin-bottom: 17px;
  }
}

.product-card__composition {
  margin: 0;
  padding: 0;
}

.product-card__composition__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 0;
  margin: 0;
  width: 140px;
  text-align: center;
}
@media (min-width: 768px) {
  .product-card__composition__wrapper {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: 250px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 7px;
  }
}
@media (min-width: 1440px) {
  .product-card__composition__wrapper {
    width: 169px;
  }
}

.product-card__desc-wrapper {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .product-card__desc-wrapper {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .product-card__desc-wrapper--show-more {
    padding: 0 57px 82px 57px;
  }
}
@media (min-width: 1440px) {
  .product-card__desc-wrapper--show-more {
    padding: 0 18px 90px 17px;
  }
}

.product-card__button {
  width: 100%;
}
@media (min-width: 768px) {
  .product-card__button {
    width: 250px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .product-card__button {
    width: 169px;
    font-size: 16px;
  }
}

.product-card__description--show-more {
  display: block;
  margin: 0;
  color: #444444;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .product-card__description--show-more {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
  }
}

.product-card__title--show-more {
  margin-bottom: 8px;
}

.additionally-products__wrapper-strip {
  position: relative;
  margin-top: 26px;
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .additionally-products__wrapper-strip {
    margin-top: 0;
    margin-bottom: 80px;
  }
}

.additionally-products__wrapper-strip::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: #63a63b;
}

.additionally-products__title-wrapper {
  margin: 0 auto;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .additionally-products__title-wrapper {
    padding-left: 70px;
  }
}
@media (min-width: 1440px) {
  .additionally-products__title-wrapper {
    padding-left: 110px;
  }
}

.additionally-products__list {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .additionally-products__list {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .additionally-products__list {
    width: 895px;
    padding: 0;
  }
}

.additionally-products__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  width: max-content;
  padding: 0 20px;
  margin: 0 -20px;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .additionally-products__title {
    padding: 0 40px;
    margin: 0 -40px;
  }
}
@media (min-width: 1440px) {
  .additionally-products__title {
    margin: 0 -40px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }
}

@media (min-width: 1440px) {
  .additionally-products__extra-wrapper {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
    width: 1221px;
    margin: 0 auto;
    margin-bottom: 77px;
  }
}

.additionally-products {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .additionally-products {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .additionally-products {
    width: 1440px;
  }
}

.additionally-product__title {
  color: #222222;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 280px;
}
@media (min-width: 768px) {
  .additionally-product__title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additionally-product__title {
    align-items: center;
    margin: 0;
  }
}

.additionally-product__button {
  width: 100%;
}
@media (min-width: 1440px) {
  .additionally-product__button {
    width: 244px;
    font-size: 16px;
  }
}

.additionally-product__item {
  border-bottom: 1px solid #cdcdcd;
  padding: 12px 0 19px 0;
}
@media (min-width: 768px) {
  .additionally-product__item {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 26px 38px 28px 38px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .additionally-product__item {
    border-left: none;
    border-right: none;
    grid-template-columns: 285px 285px 244px;
    display: grid;
    gap: 0 40px;
    align-items: center;
    padding: 13px 0 18px 0;
  }
}

.additionally-product__item:first-child {
  border-top: 1px solid #cdcdcd;
}

.additionally-product__quantity {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
}
@media (min-width: 768px) {
  .additionally-product__quantity {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.additionally-product__price {
  color: #444444;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
}
@media (min-width: 768px) {
  .additionally-product__price {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .additionally-product__price {
    display: flex;
    justify-content: flex-start;
  }
}

.additionally-product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .additionally-product__wrapper {
    justify-content: flex-end;
    gap: 49px;
  }
}
@media (min-width: 1440px) {
  .additionally-product__wrapper {
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.gift-container {
  width: 320px;
  padding: 35px 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .gift-container {
    width: 768px;
    padding: 70px 30px 75px 31px;
  }
}
@media (min-width: 1440px) {
  .gift-container {
    width: 245px;
    padding: 0;
  }
}

.gift__wrapper {
  background-image: url("../img/catalog/gifts-background.png");
  background-repeat: no-repeat;
  background-color: #63a63b;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 58px 61px 42px 58px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .gift__wrapper {
    padding: 57px 125px 60px 77px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .gift__wrapper {
    padding: 63px 42px 43px 42px;
  }
}

.gift__title {
  color: #ffffff;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .gift__title {
    width: 161px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .gift__title {
    text-align: center;
  }
}

.gift {
  display: flex;
  margin: 0;
  box-sizing: border-box;
}

.gift__icon {
  width: 78px;
  height: 81px;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .gift__icon {
    width: 80px;
    height: 83px;
    margin: 0;
  }
}

.form__label {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__contain {
  padding: 0 20px 24px 20px;
  box-sizing: border-box;
  display: flex;
  gap: 14px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form__contain {
    gap: 20px;
  }
}

@media (min-width: 768px) {
  .form__contain--cat {
    padding: 0 70px 75px 70px;
  }
}
@media (min-width: 1440px) {
  .form__contain--cat {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .form__contain--user {
    padding: 0 70px 67px 70px;
  }
}
@media (min-width: 1440px) {
  .form__contain--user {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px 70px 110px;
  }
}

@media (min-width: 768px) {
  .form__contain--area {
    padding: 0 70px 65px 70px;
  }
}
@media (min-width: 1440px) {
  .form__contain--area {
    padding: 0 110px 70px 110px;
  }
}

.form__label-wrapper {
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0;
}

.form-control {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px 14px 9px 14px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .form-control {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    padding: 11px 14px 9px 18px;
  }
}

.form-control--text-area {
  min-height: 150px;
  resize: none;
  padding: 14px;
  width: 280px;
}
@media (min-width: 768px) {
  .form-control--text-area {
    min-height: 175px;
    width: 628px;
    padding: 15px 20px;
  }
}
@media (min-width: 1440px) {
  .form-control--text-area {
    width: 1220px;
    padding: 11px 20px;
  }
}

.form__wrapper-title {
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__wrapper-title {
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper-title {
    padding: 0 110px;
  }
}

.form__wrapper-strip {
  position: relative;
}

.form__wrapper-strip--comments {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__wrapper-strip--comments {
    margin-bottom: 78px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper-strip--comments {
    margin-bottom: 62px;
  }
}

.form__wrapper-strip--user {
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .form__wrapper-strip--user {
    padding-top: 68px;
    padding-bottom: 73px;
  }
}
@media (min-width: 1440px) {
  .form__wrapper-strip--user {
    padding-top: 70px;
    padding-bottom: 76px;
  }
}

.form__wrapper-strip--chekboxs {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__wrapper-strip--chekboxs {
    margin-bottom: 55px;
  }
}

.form__wrapper-strip::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: #63a63b;
}
@media (min-width: 768px) {
  .form__wrapper-strip::before {
    top: 60%;
  }
}

.form__wrapper-strip--user::before {
  top: 35%;
}
@media (min-width: 768px) {
  .form__wrapper-strip--user::before {
    top: 51%;
  }
}

.form__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  width: max-content;
  padding: 0 20px;
  margin: 0 -20px;
  background-color: #ffffff;
  max-width: 187px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -40px;
    max-width: 100%;
  }
}

.form__radio {
  margin-bottom: 26px;
}

.form__chekboxs-target {
  margin: 0;
  padding: 0;
}

.form__binding {
  margin: 0;
  color: #000000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 21px 0 8px 0;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form__binding {
    text-align: start;
    font-size: 16px;
    font-weight: 400;
  }
}

.form__button-wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form__button-wrapper {
    display: grid;
    width: 768px;
    grid-template-columns: 284px 1fr;
    justify-content: start;
    padding: 0 70px 60px 70px;
    gap: 60px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .form__button-wrapper {
    padding: 0 110px 80px 110px;
    gap: 80px;
    width: 1440px;
    grid-template-columns: 570px 1fr;
  }
}

@media (min-width: 1440px) {
  .form__wrapper-cat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
  }
}

@media (min-width: 768px) {
  .form__button {
    padding: 18px 20px;
  }
}

.radio-target {
  border: none;
  margin: 0;
  box-sizing: border-box;
  padding: 22px 20px 20px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .radio-target {
    border: none;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .radio-target {
    padding: 0;
  }
}

.radio-target__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .radio-target__list {
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    padding: 23px 27px 27px 27px;
  }
}
@media (min-width: 1440px) {
  .radio-target__list {
    padding: 25px;
  }
}

.radio-target__item {
  display: flex;
  flex-direction: row;
}

.radio-target__control {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  min-height: 30px;
}
@media (min-width: 768px) {
  .radio-target__control {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    min-height: 40px;
  }
}

.radio-target__control-label {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .radio-target__control-label {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }
}

.radio-target__control-input[type=radio]:checked + .radio-target__control-label::before {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
  content: "";
}
@media (min-width: 768px) {
  .radio-target__control-input[type=radio]:checked + .radio-target__control-label::before {
    width: 18px;
    height: 18px;
    top: 28%;
    left: 28%;
  }
}

.chekbox-target__contain {
  padding: 0 20px 34px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .chekbox-target__contain {
    padding: 0 70px 52px 70px;
  }
}
@media (min-width: 1440px) {
  .chekbox-target__contain {
    padding: 0 110px 61px 110px;
  }
}

.chekbox-target__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;
}
@media (min-width: 768px) {
  .chekbox-target__list {
    grid-template-columns: 1fr 1fr;
    gap: 32px 62px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .chekbox-target__list {
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
  }
}

.chekbox-target {
  border: none;
}

.chekbox-target__control {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
}
@media (min-width: 768px) {
  .chekbox-target__control {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.chekbox-target__control-label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .chekbox-target__control-label {
    width: 40px;
    height: 40px;
    padding: 7px;
  }
}

.chekbox-target__item {
  display: flex;
  min-height: 30px;
}
@media (min-width: 768px) {
  .chekbox-target__item {
    min-height: 40px;
  }
}

.chekbox-target__control-input[type=checkbox]:checked + .chekbox-target__control-label::before {
  display: block;
  width: 26px;
  height: 26px;
  content: "";
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.program-selection__container {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .program-selection__container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .program-selection__container {
    width: 1440px;
  }
}

.program-selection__title-wrapper {
  padding: 27px 29px 39px 20px;
  box-sizing: border-box;
  border-top: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .program-selection__title-wrapper {
    border: none;
    padding: 67px 70px 66px 70px;
  }
}
@media (min-width: 1440px) {
  .program-selection__title-wrapper {
    padding: 74px 110px 66px 110px;
  }
}

.program-selection__title {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}
@media (min-width: 768px) {
  .program-selection__title {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.program-selection__description {
  color: #000000;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .program-selection__description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    width: 323px;
  }
}
/*# sourceMappingURL=style.css.map */