.additionally-product__title {
  color: $text-grey222;
  margin: 0;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 280px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin: 0;
  }
}

.additionally-product__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 11px;
  }

  @media (min-width: $desktop-width) {
    width: 244px;
    font-size: 16px;
    margin-top: 0;
  }
}

.additionally-product__item {
  border-bottom: 1px solid $border-grey-cd;
  padding: 12px 0 20px 0;

  &:first-child {
    border-top: 1px solid $border-grey-cd;
  }

  @media (min-width: $tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 12px 38px 28px 38px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  @media (min-width: $desktop-width) {
    border-left: none;
    border-right: none;
    grid-template-columns: 285px 285px 244px;
    display: grid;
    gap: 0 40px;
    padding: 15px 0 16px;
    align-items: center;
  }
}



.additionally-product__quantity {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}

.additionally-product__price {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: end;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    min-width: 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: flex-start;
    min-width: 42px;
  }
}

.additionally-product__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 40px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-top: 5px;
  }
}
