.advantages__wrapper {
  width: 320px;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 49px;
  background-color: $bg-basic-light;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 30px 47px 30px;
    margin: 0 auto;
    border-bottom: 1px solid $border-grey-e6;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 110px;
    border: none;
    margin-bottom: 69px;
  }
}

.advantages__title {
  margin: 0;
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 20px;
  counter-reset: number;


  @media (min-width: $tablet-width) {
    gap: 40px 134px;
  }

  @media (min-width: $desktop-width) {
    gap: 78px;
  }
}

.advantages__item {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  padding-left: 80px;
  position: relative;
  padding-top: 3px;
  padding-bottom: 3px;


  @media (min-width: $tablet-width) {
    max-width: 250px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    counter-increment: number;
    padding: 151px 0 55px 0;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    width: 246px;
    margin: 0;
    padding-top: 153px;
  }
}

.advantages__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: $bg-button-basic;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    top: 41px;
    left: 0;
  }
}


.advantages__item::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 118px;
    top: 0;
    color: $bg-grey;
    font-family: $font-oswald;
    font-size: 280px;
    font-weight: 400;
    line-height: 280px;
    z-index: -1;
    content: counter(number);
  }
}
