.chekbox-target__contain {
  padding: 0 20px 33px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 70px 43px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 61px 110px;
  }
}

.chekbox-target__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 12px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 62px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 85px;
  }
}

.chekbox-target {
  border: none;
  min-inline-size: auto;
}

.chekbox-target__control {
  color: $text-grey400;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  gap: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    gap: 20px;
  }
}

.chekbox-target__control-label {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    padding: 7px;
  }

  &:hover,
  &:focus-visible {
    border-color: $radio;
    outline: none;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.chekbox-target__item {
  display: flex;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    min-height: 40px;
  }
}

.chekbox-target__control-input[type="checkbox"] {
  &:checked + .chekbox-target__control-label::before {
    display: block;
    width: 26px;
    height: 26px;
    content: "";
    background-image: url("../img/svg/other/tick.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.chekbox-target__text {
  max-width: 220px;

  @media (min-width: $tablet-width) {
    max-width: 180px;
  }
}
