.example {
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: $bg-basic-light;
  }
}

.example__container {
  width: 320px;
  margin: 0 auto;
  padding: 25px 20px 40px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 45px 30px 101px 30px;
  }
}

.example__title {
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 60px;
  }
}

.example__desription {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 55px;
  }
}

.example__list {
  display: flex;
  gap: 32px;
  margin: 0;
  margin-bottom: 20px;


  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 99px;
  }
}

.example__item {
  margin: 0 auto;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.example__number {
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
  }
}

.example__descr {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 12px;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
}

.example__legend {
  color: $text-basic-dark;
  text-align: center;
  font-family: $font-oswald;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    width: 174px;
    flex-wrap: wrap;
    text-align: end;
  }
}

.example__image {
  margin: 0 auto;
}
