.form__label {
  color: $text-grey400;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.form__wrapper-strip::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 2px;
  background-color: $bg-branded;

  @media (min-width: $tablet-width) {
    top: 60%;
  }

  @media (min-width: $desktop-width) {
    top: 65%;
  }
}

.form__contain {
  padding: 0 20px 23px 20px;
  box-sizing: border-box;
  display: flex;
  gap: 14px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}


.form__contain--cat {
  @media (min-width: $tablet-width) {
    padding: 0 70px 75px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.form__contain--user {
  @media (min-width: $tablet-width) {
    padding: 0 70px 67px 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px 70px 110px;
  }
}

.form__contain--area {
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    padding: 0 70px 65px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 68px 110px;
  }
}

.form__label-wrapper {
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0;
}

.form__control {
  color: $text-grey400;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 11px 14px 9px 14px;
  box-sizing: border-box;
  flex-grow: 1;
  border: 1px solid $border-input;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
    padding: 11px 14px 9px 20px;
  }

  &:hover {
    border-color: $border-grey-cd;
  }

  &:focus {
    border-color: $text-grey400;
    outline: none;
  }

  &:required:invalid {
    border-color: $error;
  }
}

.form__control--text-area {
  min-height: 150px;
  resize: none;
  padding: 14px;
  width: 280px;

  @media (min-width: $tablet-width) {
    min-height: 175px;
    width: 628px;
    padding: 15px 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 11px 20px;
  }
}

.form__wrapper-title {
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__wrapper-strip {
  position: relative;
}

.form__wrapper-strip--comments {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 62px;
  }
}

.form__wrapper-strip--user {
  box-sizing: border-box;
  padding-top: 27px;
  padding-bottom: 33px;

  &::before {
    top: 37%;
  }

  @media (min-width: $tablet-width) {
    padding-top: 62px;
    padding-bottom: 76px;

    &::before {
      top: 48%;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;

    &::before {
      top: 50%;
    }
  }
}


.form__wrapper-strip--chekboxs {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.form__title {
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  z-index: 2;
  width: max-content;
  padding: 0 20px;
  margin: 0 -20px;
  background-color: $bg-basic-light;
  max-width: 187px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    padding: 0 40px;
    margin: 0 -40px;
    max-width: 100%;
  }
}

.form__radio {
  margin-bottom: 26px;
}

.form__chekboxs-target {
  margin: 0;
  padding: 0;
}

.form__binding {
  margin: 0;
  color: $text-basic-dark;
  text-align: center;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding: 21px 0 8px 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    text-align: start;
    font-size: 16px;
    font-weight: 400;
  }
}

.form__button-wrapper {
  margin: 0 auto;
  width: 280px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    width: 768px;
    grid-template-columns: 284px 1fr;
    justify-content: start;
    padding: 0 70px 60px 70px;
    gap: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 80px 110px;
    gap: 80px;
    width: 1440px;
    grid-template-columns: 570px 1fr;
  }
}

.form__wrapper-cat {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 0 110px;
  }
}

.form__button {
  @media (min-width: $tablet-width) {
    padding: 17px 20px;
  }
}

// input:required:invalid {
//   border-color: red;
// }
