.main-footer {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  background-color: $bg-grey;
}

.main-footer__container {
  width: 280px;
  margin: 0 auto;
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;
  box-sizing: border-box;
}

.main-footer__developer {
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;
}
