.main-footer {
  display: flex;
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: $bg-grey;

  @media (min-width: $tablet-width) {
    padding: 55px 30px;
  }
}

.main-footer__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.main-footer__logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid $border-grey;
  box-sizing: border-box;
  align-items: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__developer {
  margin: 0;
  padding-top: 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}
