.main-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 11px 20px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  align-items: center;
  width: 320px;
  box-sizing: border-box;
  background-color: $bg-basic-light;
}
