.map__wrapper {
  padding: 26px 20px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  align-items: center;
  box-sizing: border-box;
  background-color: $bg-basic-light;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    gap: 308px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 195px);
    padding: 60px 78px 60px 80px;
    gap: 55px;
    width: 565px;
    position: absolute;
    left: 110px;
    top: 95px;
  }
}

.map__container {
  margin: 0 auto;
  width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.map__title {
  color: $text-dark-medium;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    color: $text-dark-medium;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
}

.map__descr {
  color: $text-grey400;
  font-family: $font-lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    color: $text-grey222;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    min-height: 80px;
  }
}

.map__link {
  background-color: $bg-grey;
  display: block;
  background-image: url("../img/map/location.png");
  background-position: center;
  background-repeat: no-repeat;
  width: $mobile-width;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.map__wrapper--invert {
  background-color: $bg-grey;
}
