.products__container {
  width: 320px;
  margin: 0 auto;
  background-color: $bg-basic-light;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 67px 30px 70px 30px;
    box-sizing: border-box;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 74px 110px 76px 110px;
  }
}

.products__title {
  color: $text-basic-dark;
  font-family: $font-oswald;
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  padding: 28px 0 41px 20px;
  border-top: 1px solid $border-grey-eb;
  border-bottom: 1px solid $border-grey-eb;
  box-sizing: border-box;


  @media (min-width: $tablet-width) {
    border: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    padding: 0;
    margin-bottom: 113px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 134px;
  }
}

.products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 63px 80px;
  }
}

.products__item {
  width: 320px;
  border-bottom: 1px solid $border-grey-eb;

  @media (min-width: $tablet-width) {
    width: 324px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}
