.program-card {
  background-color: $bg-grey;
  position: relative;
  padding: 30px 20px 14px 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 57px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 57px 55px 25px;
  }
}

.program-card__title {
  margin: 0;
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
  }
}

.program-card__descr {
  color: $text-grey400;
  margin: 0;
  font-family: $font-lato;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 42px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    color: $text-basic-dark;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.program-card__link {
  color: $text-basic-dark;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
  }
}
