.radio-target {
  border: none;
  margin: 0;
  box-sizing: border-box;
  padding: 22px 20px 20px 20px;
  border-top: 1px solid $border-grey-eb;
  border-bottom: 1px solid $border-grey-eb;
  background-color: $bg-basic-light;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.radio-target__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 12px;
  flex-direction: column;


  @media (min-width: $tablet-width) {
    border: 1px solid $border-grey-eb;
    box-sizing: border-box;
    padding: 23px 27px 27px 27px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px;
  }
}

.radio-target__control {
  color: $text-grey400;
  font-family: $font-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  display: flex;
  align-items: center;
  min-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    min-height: 40px;
    padding-left: 60px;
  }
}

.radio-target__control-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.radio-target__control-input[type="radio"] {
  &:checked + .radio-target__control-label::before {
    position: absolute;
    margin: 8.5px;
    width: 13px;
    height: 13px;
    background-color: $bg-button-basic;
    border-radius: 50%;
    content: "";
  }

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    margin: 11px;
  }
}
