.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 44px;
  text-decoration: none;
  font-family: $font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  color: $text-basic-light;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.button--primary {
  padding: 10px 5px;
  background-color: $bg-button-basic;

  &:hover,
  &:focus-visible {
    background-color: $bg-button-hover;
  }

  &:active {
    color: $button-text-active;
  }
}

.button--secondary {
  color: $text-grey400;
  background-color: $bg-grey;
  padding: 10px 0;

  &:hover,
  &:focus-visible,
  &:active {
    background-color: $border-grey-eb;
  }
}
