// Background-colors
$bg-basic-light: #ffffff;
$bg-grey: #F2F2F2;
$bg-grey-dark: #EAEAEA;

// Font-family
$font-oswald: "Oswald", sans-serif;
$font-lato: "Lato", sans-serif;

// Text-colors
$text-basic-dark: #000000;
$text-basic-light: #ffffff;
$text-grey400: #444444;
$text-dark-medium: #111111;


// Button
$bg-button-basic: #68B738;

// Border
$border-grey: #D9D9D9;
