// Background-colors
$bg-basic-light: #ffffff;
$bg-grey: #f2f2f2;
$bg-grey-dark: #eaeaea;
$bg-branded: #63a63b;

// Font-family
$font-oswald: "Oswald", sans-serif;
$font-lato: "Lato", sans-serif;

// Text-colors
$text-basic-dark: #000000;
$text-basic-light: #ffffff;
$text-grey400: #444444;
$text-dark-medium: #111111;
$text-grey222: #222222;


// Button
$bg-button-basic: #68b738;

// Border
$border-grey: #d9d9d9;
$border-grey-e6: #e6e6e6;
$border-grey-eb: #ebebeb;
$border-grey-cd: #cdcdcd;
$border-input: #e7e7e7;


$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;
