// Background-colors
$bg-basic-light: #ffffff;
$bg-grey: #F2F2F2;
$bg-grey-dark: #EAEAEA;
$bg-branded: #68B738D9;

// Font-family
$font-oswald: "Oswald", sans-serif;
$font-lato: "Lato", sans-serif;

// Text-colors
$text-basic-dark: #000000;
$text-basic-light: #ffffff;
$text-grey400: #444444;
$text-dark-medium: #111111;
$text-grey222: #222222;


// Button
$bg-button-basic: #68b738;

// Border
$border-grey: #D9D9D9;
$border-grey-e6: #e6e6e6;
$border-grey-eb: #EBEBEB;
$border-grey-cd:#CDCDCD;
$border-input: #E7E7E7;
